* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display:flex;
    justify-content: center;
    padding:40px;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 400px;
    box-shadow:  0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

.expense-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, button {
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

#expense-list {
    list-style: none;
    padding: 0;
}

.expense-item {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    background: #f4f4f4;
    border-radius: 5px;
}

.delete-btn {
    background:crimson;
    color:white;
    border:none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    display:flex;
    justify-content: center;
    align-items: center;
}


.delete-btn:hover {
    opacity: 0.7;
}

.button-group {
    display:flex;
    gap: 8px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
}

.edit-btn {
    background: #4a90e2;
    color:white;
    border:none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn:hover {
    opacity: 0.7;
}

.expense-item:hover .button-group {
    opacity: 1;
    visibility: visible;
}

.editing {
    border: 2px solid #4a90e2;
    background: #eef6ff;
}

.button-row {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.button-row button {
    flex: 1;
}

.control-row {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
}

.control-row select {
    flex: 1;
}

.control-group {
    display:flex;
    align-items: center;
    gap:8px;
}

#auth-container {
    position:absolute;
    top:20px;
    right:20px;
}

#sign-in-btn {
    border-radius: 5px;
    border: none;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}